body{
	font-family: oxygen!important;
	font-size: 18px;
	color: #34373d!important;
}

a{
	font-family: oxygen!important;
}

.staatliches h1, .staatliches h2, .staatliches h3, .staatliches h4, .staatliches h5, .staatliches a, .staatliches p{
	font-family: 'Staatliches', cursive!important;
}

header{
	position:fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}

.site-logo img {
    max-width: 108px!important;
}

.logo-dark{
content:url("https://gregerdesign.dk/kogenord2/wp-content/uploads/2019/11/koge-esport-logo-dark-no-border.png")!important;
}

.site-logo-esport{
content:url("https://gregerdesign.dk/kogenord2/wp-content/uploads/2019/11/koge-esport-logo-light-no-border.png");
	transition: 3s;
}

.active-header-class{
	background-color: #fff;
-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.1)!important;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.1)!important;
    box-shadow: 0 2px 3px rgba(0,0,0,.1)!important;
}

.active-header-class a{
	color: #000!important;
}

.active-header-class .caret {
    color: #000!important;
}

.menu-item-title-wrap:hover, .active-header-class a:hover{
	color: #9eb8d6!important;
}

#header-menu-sidebar-inner .menu-item-title-wrap, #header-menu-sidebar-inner a{
	color: #404248!important;
}
#header-menu-sidebar-inner .caret-wrap {
    border: none;
}
#header-menu-sidebar-inner .caret {
    color:#404248!important;
}
#header-menu-sidebar-inner .menu-item {
    margin-bottom: 1em
}

#header-menu-sidebar-inner .menu-item a:hover, #header-menu-sidebar-inner .menu-item span:hover{
    color: #9eb8d6!important;
}

.span-dark{
	background: #404248!important;
}

.row .primary-menu-ul .sub-menu li a {
    justify-content: left!important;
}

.navbar-toggle:focus{
	outline: none
}

.forside-knap a{
	padding: 10px !important;
	width: 140px !important;
	font-family: 'Staatliches', sans-serif !important;
	text-transform: uppercase;
}


.brand{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


#header-grid{
	transition: 0.5s;
}

.nv-navbar {
  background-color: rgba(0, 0, 0, 0)!important;
}

.hfg_header .header-main-inner.light-mode {
	background-color: rgba(1, 1, 1, 0)!important;
}

.hfg_header.site-header {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,);
    -moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}


.top-part-title{
	position: absolute;
	top: 17em;
	right: 5%;
	width: 480px!important;
	height: 60px!important;
	float: right!important;
}


.elementor-7 .elementor-element.elementor-element-7289fe8 {
    padding:0!important;
}
.elementor-7 .elementor-element.elementor-element-ac40c6b > .elementor-widget-container {
    margin: 1px 1px 1px 1px;
}


.navbar-toggle {
    border: 0px solid #f0f0f0;
}

.elementor-widget-text-editor {
    color: #34373d;
}

.sub-menu .menu-item a{
	color: #34373d!important;
}
.sub-menu .menu-item a:hover{
	color: #9eb8d6!important;
}
.sub-menu .menu-item .caret{
	color: #34373d!important;
}


.builder-item--primary-menu .nav-menu-primary > .primary-menu-ul li.current-menu-item a:hover{
	color:#9eb8d6!important;
}


input[type="button"] {
  border: none!important;
  outline:none!important;
}

.icon-bar {
  width: 25px;
  height: 3px;
	background: #fff;
}

.light-mode .icon-bar {
    background: #fff;
}

.is-menu-sidebar .icon-bar{
	background: #404248!important;
}

.margin-auto{
	margin: auto;
}

.icon-bar:nth-child(2) {
    margin: 5px 0;
}

.is-menu-sidebar .navbar-toggle .icon-bar:nth-child(1) {
    transform: rotate(45deg);
    top: 7px;
}

.is-menu-sidebar .navbar-toggle .icon-bar:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px;
}


.builder-item {
    margin-top: 6px;
    margin-bottom: 6px;
}

.container {
    height: 70px;
}

.top-container{
	height: 80vh;
	padding: 5vh 0vh 10vh 0vh;
}

.games-carousel{
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}


.games-image-carousel img{
	-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	
	transition: all 0.5s ease-in-out;
	
}

.games-image-carousel img:hover {
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);	
}






.games-image-carousel{
-webkit-box-shadow: 0px -6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -6px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -6px 5px 0px rgba(0,0,0,0.75);
}


.elementor-widget-image-carousel .swiper-slide {
  Transition: 0.5s;
}

.elementor-widget-image-carousel .swiper-slide:hover {
  margin-left: -40px;
	margin-right: -70px!important;
}

.elementor-widget-image-carousel .swiper-container .swiper-slide figure {
    filter: drop-shadow(-10px 0px 5px rgba(0,0,0,0.75));
	transition: all 0.5s ease-in-out;
	
}


.elementor-widget-image-carousel .swiper-container .swiper-slide figure:hover {
    filter: drop-shadow(0px 0px 30px rgba(0,0,0,1));
	
}



#wpforms-form-958, #wpforms-form-977, #wpforms-form-1063{
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	border-radius: 5px;
	padding: 1em;
}

div.wpforms-container-full .wpforms-form .wpforms-title {
	text-align: center;
  font-size: 26px;
	padding: 0 0 15px 0;
  margin: 0 0 20px 0;
	border-bottom: solid 1px darkgray;
	border-radius: 0;	
}


.wpforms-field-container {
	padding: 0px 30px 0px 30px!important;
}

div.neve-demo-form .wpforms-form .wpforms-one-half {
	padding-bottom: 10px;
}

div.wpforms-container-full.neve-demo-form .wpforms-form .wpforms-one-half input, div.wpforms-container-full.neve-demo-form .wpforms-form textarea {
	font-family: oxygen;
	font-size: 15px;
	line-height: 30px;
	border: none;
	border-radius: 4px;
	text-align: left;
}

div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=text]{
	padding: 7px 0px;
  border: none;
  border-bottom: solid 1px darkgray;
	border-radius: 0;
}

div.wpforms-container-full.neve-demo-form .wpforms-form .wpforms-one-half input {
	padding: 15px 0px;
	border-bottom: solid 1px darkgray;
	border-radius: 0;
}




div.wpforms-container-full.neve-demo-form .wpforms-form input[type=number]{
	padding: 7px 0px;
	border: none;
	border-bottom: solid 1px darkgray;
}


div.wpforms-container-full.neve-demo-form .wpforms-form textarea {
	padding: 7px 0px;
	border-bottom: solid 1px darkgray;
	border-radius: 0;
}
.neve-demo-form .wpforms-submit-container {
	text-align: center;
}
div.wpforms-container-full.neve-demo-form .wpforms-form button[type=submit] {  
	font-weight: 500; 
	border-radius: 5px; 
	color: #fff; 
	background-color: #6ec1e4; 
	border: 1px solid transparent; 
	padding: 10px 30px; 
	margin-top: 20px; 
}
div.wpforms-container-full.neve-demo-form .wpforms-form button[type=submit]:hover { 
	background-color: #f34123; 
	border: 1px solid transparent; 
}



.footer--row .container{
	height: auto!important;
	padding: 3em 1em 3em 1em; 
}

.footer--row .container img{
	height: 100px!important;
	width: auto
}

#media_image-3{
	margin:0;
	padding: 0;
}







@media (max-width: 1700px){
	
	.forside-element-20{
		width: 15%!important;
	}
	
	.forside-element-30{
		width: 20%!important;
	}
	
	.forside-element-50{
		width: 65%!important;
	}
	

}


@media (max-width: 1600px){
	
.forside-usp .elementor-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
	
.forside-usp .elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
    width: 50%!important;
}	

}


@media (max-width: 1500px){
	
	
	.forside-element-20{
		width: 15%!important;
	}

	.forside-element-30{
		width: 20%!important;
	}
	
	.forside-element-50{
		width: 65%!important;
	}
	
	.forside-element-50-nummer-1 .elementor-column-wrap{
		padding: 5% 10% 5% 30%!important;
	}
	
	.forside-element-50-nummer-2 .elementor-column-wrap{
		padding: 5% 30% 5% 10%!important;
	}	
	
	.forside-element-height{
		padding-top: 20px!important;
		padding-bottom: 20px!important;
		background-size: cover!important;
	}
	
	
.top-container{
	height: 70vh;
	padding: 5vh 0vh 10vh 0vh;
}
	
.top-part-title{
	top: 15em;
}
	

}


@media (min-width: 1024px){
	
.elementor-section {
    padding: 0em 2em 0em 2em;
}
	
	
}


@media (max-width: 1024px){
	
.elementor-section {
    padding: 0em 1.5em 0em 1.5em;
}
	
.top-container{
	height: 60vh;
	padding: 5vh 0vh 10vh 0vh;
}
	
.top-part-title{
	top: 10em;
}
	
	
	.forside-element-20{
		width: 0%!important;
	}

	.forside-element-30{
		width: 0%!important;
	}
	
	.forside-element-50{
		width: 100%!important;
	}
	.forside-element-50 .elementor-column-wrap{
		padding: 5% 20% 5% 20%!important;
	}
	
	.forside-element-height{
		padding-top: 0!important;
		padding-bottom: 0!important;
		background-size: cover!important;
		-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
		background-image: url( )!important;
	}
	
	
}




@media (max-width: 961px){
	
.builder-item--logo > :not(.customize-partial-edit-shortcut):first-of-type {
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
}
	
	
}


@media (max-width: 800px){
	
.forside-usp .elementor-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
	
.forside-usp .elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
    width: 100%!important;
	margin: auto;
}
	
.forside-usp .elementor-column-wrap {
    margin: auto;
		width: 60%;
}
	
}


@media (max-width: 768px){


.top-container {
    height: 50vh;
}
	
.top-part-title{
	width: 400px!important;
	top: 9em;
	right: 0;
	left: 0;
	margin: auto;
}
	
.elementor-section {
    padding: 0em 1em 0em 1em; 
}	
	
	
.forside-usp .elementor-column-wrap {
		width: 80%;
}
	
.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
    font-size: 30px;
}
	
.elementor-7 .elementor-element.elementor-element-ef946bb > .elementor-widget-container {
  padding: 10px 10px 21px 20px!important;
}
		
.elementor-button.elementor-size-sm {
    padding: 10px 22px;
}	
	
.top-container .elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
    width: 50%;
}
	
.elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
    width: 50%;
}
	
	
div.wpforms-container-full.neve-demo-form .wpforms-form .wpforms-one-half {
		width: 100%; 
		margin-left: 0; 
}

.neve-demo-form	.wpforms-field-textarea textarea { 
		text-align: center; 
}	
	
	
}


@media (min-width: 1500px){
	
	
.elementor-widget-image-carousel .swiper-slide {
    margin-right: -120px!important;
}
	
.games-image-carousel img {
    width: 100%!important;
}
	

}





